<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ioninks PDF</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
       
        h1 {
            font-size: 30px;
            line-height: 1.2;
        }

        h3 {
            font-size: 15px;
            line-height: 0.2;
        }

        p {
            line-height: 1;
            margin: 0.2;
        }

        footer{
            font-size: 80%;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: 80%;
            line-height: 1;
        }

        td,
        th  {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
        tr:th{
            background-color: #dddddd;
        }

    </style>
</head>

<body>
    <!-- <img style="align-items: center;" src="./ioii-removebg-preview.png" alt="logo image"> -->
    <h1>Protocol for the Examination of Resection Specimens from Patients with Invasive Carcinoma of the Breast
    </h1>

    <h3>Version: {{version}}</h3>
    <h3>Protocol Posting Date: {{PPostingdate}}</h3>
    <h3>CAP Laboratory Accreditation Program Protocol Required Use Date: {{CAPLaboratory}}</h3>
    <p>The changes included in this current protocol version affect accreditation requirements. The new deadline for
        implementing this protocol version is reflected in the above accreditation date.</p>
    <h3>For accreditation purposes, this protocol should be used for the following procedures AND tumor </h3>
    <h3>types: </h3>
    <table>
        <tr>
            <th style="background-color: #dddddd">Procedure</th>
            <th style="background-color: #dddddd">Description</th>
        </tr>
        <tr>
            <td>Excision less than total mastectomy</td>
            <td>Includes specimens designated excision, segmental resection, lumpectomy, quadrantectomy, and segmental
                or partial mastectomy, with or without axillary contents
            </td>
        </tr>
        <tr>
            <td>Total Mastectomy</td>
            <td>{{discription2}}</td>

        </tr>
        <tr>
            <th style="background-color: #dddddd">Tumor Type</th>
            <th style="background-color: #dddddd">Description</th>
        </tr>
        <tr>
            <td>Invasive breast carcinoma of any type, with or without ductal carcinoma in situ (DCIS)</td>
            <td>Includes invasive and microinvasive carcinomas</td>

        </tr>

    </table>
    <h3>This protocol is NOT required for accreditation purposes for the following: </h3>
    <table>
        <tr>
            <th style="background-color: #dddddd">Procedure</th>
        </tr>
        <tr>
            <td>Needle or skin biopsies </td>
        </tr>
        <tr>
            <td>Primary resection specimen with no residual cancer (e.g., following neoadjuvant therapy)</td>
        </tr>
        <tr>
            <td>Additional excision performed after the definitive resection (e.g., re-excision of surgical margins)
            </td>
        </tr>
        <tr>
            <td>Cytologic specimens</td>
        </tr>

    </table>
    <h3>The following tumor types should NOT be reported using this protocol: </h3>
    <table>
        <tr>
            <th style="background-color: #dddddd">Tumor Type</th>
        </tr>
        <tr>
            <td>Ductal carcinoma in situ without invasive carcinoma (consider the Breast DCIS Resection protocol) </td>
        </tr>
        <tr>
            <td>Paget disease of the nipple without invasive carcinoma (consider the Breast DCIS Resection protocol)
            </td>
        </tr>
        <tr>
            <td>Encapsulated or solid papillary carcinoma without invasion (consider the Breast DCIS Resection protocol)
            </td>
        </tr>
        <tr>
            <td>Phyllodes tumor (consider the Phyllodes tumor protocol)</td>
        </tr>
        <tr>
            <td>Lymphoma (consider the Hodgkin or non-Hodgkin Lymphoma protocols)

            </td>
        </tr>
        <tr>
            <td>Sarcoma (consider the Soft Tissue protocol)</td>
        </tr>
    </table>

    <h3>Authors </h3>
    <p>Uma G. Krishnamurti, MD*; Patrick L. Fitzgibbons, MD, FCAP*; PhD*; James L. Connolly, MD*.
        With guidance from the CAP Cancer and CAP Pathology Electronic Reporting Committees.
        * Denotes primary author.</p>

        <footer>© 2023 College of American Pathologists (CAP). All rights reserved. For Terms of Use please visit www.cap.org/cancerprotocols </footer>

</body>

</html>